<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Santa catalina de siena</h2> -- <h3>(2007-2010)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quo corrupti quas quia illo maiores minima, dolores saepe laborum harum aliquam nisi rem ullam velit aliquid. Sunt, odio architecto!
                </p>

            </li>
            <li>
                <h2>Ipem 236 Emilio Prataviera</h2> -- <h3>(2000-2005)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quo corrupti quas quia illo maiores minima, dolores saepe laborum harum aliquam nisi rem ullam velit aliquid. Sunt, odio architecto!
                </p>

            </li>
            <li>
                <h2>UTN Villa Maria</h2> -- <h3>(2010-2018)</h3>
                <p>
                    Lorem dia ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quo corrupti quas quia illo maiores minima, dolores saepe laborum harum aliquam nisi rem ullam velit aliquid. Sunt, odio architecto!
                </p>

            </li>
        </ul>

    </div>

</div>

