<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/testmifoto.png" class="img-fluid" id="fotodeperfil" [border]="">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Fernandez Andres Emanuel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Recusandae, tempora quam! Dolorem soluta optio ullam eligendi 
            nulla ipsam est quo eaque. Repellat, reprehenderit! Totam omnis, 
            magnam praesentium consectetur velit sit?</p>
        </span>
    </div>
</div>



