<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Administrador comunicaciones</h2> -- <h3>(2010-2020)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quo corrupti quas quia illo maiores minima, dolores saepe laborum harum aliquam nisi rem ullam velit aliquid. Sunt, odio architecto!
                </p>

            </li>
            <li>
                <h2>Administrador de ISP</h2> -- <h3>(2020-2021)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quo corrupti quas quia illo maiores minima, dolores saepe laborum harum aliquam nisi rem ullam velit aliquid. Sunt, odio architecto!
                </p>

            </li>
            <li>
                <h2>Administrador de Telecomunicaciones</h2> -- <h3>(2010-2018)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci quo corrupti quas quia illo maiores minima, dolores saepe laborum harum aliquam nisi rem ullam velit aliquid. Sunt, odio architecto!
                </p>

            </li>
        </ul>

    </div>

</div>
